<template>
  <div>
    <b-jumbotron header="The Daring Admin's Dashboard">
      <template slot="lead">&#9733; the chill car park refill &#9733;</template>
      <hr class="my-4">
      <p v-if="$parent.user.logged_in">
        <b-button size="lg" variant="success" @click="fillup">Fill up the car park</b-button>
        <b-button size="lg" variant="danger" @click="removeAllCars">Remove all cars from the car park</b-button>
      </p>
      <p v-else>
        You're not logged in!
      </p>
    </b-jumbotron>

    <p>&nbsp;</p>

    <b-modal ref="modalCarPark" title="Uploading new cars" size="lg" :ok-disabled="yes" :cancel-disabled="yes">
      <b-progress :value="uploaded" :max="cars.length" show-progress animated></b-progress>
    </b-modal>

  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'CarPark',
  props: {
    user: { type: Object, required: true }
  },
  methods: {
    fillup: function () {
      this.uploaded = 0
      this.$refs.modalCarPark.show()
      var uri = process.env.RENTAL_API + 'car'
      for (var i in this.cars) {
        console.log('uploading ' + this.cars[i].name)
        axios.post(uri, this.cars[i], {
          headers: { 'Authorization': 'Bearer ' + this.user.token }
        }).then(response => {
          this.uploaded += 1
          if (this.uploaded >= this.cars.length) {
            this.$refs.modalCarPark.hide()
            this.$parent.refresh()
          }
        }).catch(error => {
          console.log('There was an error putting car number ' + i + ' on the server:')
          console.log(error)
          this.$refs.modalCarPark.hide()
        })
      }
    },
    removeAllCars: function () {
      this.uploaded = 0
      let cars = this.$parent.$refs.appCarViewer.cars
      for (var i in cars) {
        console.log('deleting ' + cars[i].name + ' (' + cars[i].id + ')')
        var uri = process.env.RENTAL_API + 'car/' + cars[i].id
        // TODO: this should be actually only called if deletion is successful
        //       for now (proof of concept) we'll already remove the renal here
        //       because the axios function does not refer to the corret i value
        this.$parent.removeRental(cars[i].id)
        axios.delete(uri, {
          headers: { 'Authorization': 'Bearer ' + this.user.token }
        }).then(response => {
          this.uploaded += 1
          if (this.uploaded >= this.cars.length) {
            this.$refs.modalCarPark.hide()
            this.$parent.refresh()
          }
        }).catch(error => {
          console.log('There was an error deleting car number ' + i + ' from the server:')
          console.log(error)
          this.$refs.modalCarPark.hide()
        })
      }
    }
  },
  data () {
    return {
      yes: true,
      uploaded: 0,
      cars: [
        {
          'name': 'Glorietta',
          'manufacturer': 'Citroen',
          'type': 'C3',
          'seats': 4,
          'kw': 54,
          'lat': 48.19701,
          'lon': 16.37101,
          'price': 30.0
        },
        {
          'name': 'Falballa',
          'manufacturer': 'Citroen',
          'type': 'C3',
          'seats': 4,
          'kw': 54,
          'lat': 48.19803,
          'lon': 16.35274,
          'price': 30.0
        },
        {
          'name': 'Methusalix',
          'manufacturer': 'Renault',
          'type': 'R4',
          'seats': 4,
          'kw': 23,
          'lat': 48.19913,
          'lon': 16.39033,
          'price': 50
        },
        {
          'name': 'Feivel',
          'manufacturer': 'BMW',
          'type': 'Mini',
          'seats': 4,
          'kw': 100,
          'lat': 48.20262,
          'lon': 16.38119,
          'price': 35
        },
        {
          'name': 'Ramone',
          'manufacturer': 'BMW',
          'type': 'Mini',
          'seats': 4,
          'kw': 100,
          'lat': 48.19859,
          'lon': 16.34045,
          'price': 35
        },
        {
          'name': 'Rudy',
          'manufacturer': 'BMW',
          'type': 'Mini',
          'seats': 4,
          'kw': 100,
          'lat': 48.23706,
          'lon': 16.34372,
          'price': 35
        },
        {
          'name': 'Gabby',
          'manufacturer': 'Fiat',
          'type': 'Punto',
          'seats': 4,
          'kw': 72,
          'lat': 48.20315,
          'lon': 16.37525,
          'price': 25
        },
        {
          'name': 'Mike',
          'manufacturer': 'Fiat',
          'type': 'Punto',
          'seats': 4,
          'kw': 72,
          'lat': 48.22656,
          'lon': 16.37066,
          'price': 25
        }
      ]
    }
  }
}
</script>
