<template>
  <div>
    <div v-if="loading" align="center">
      <!-- loading gif from https://icons8.com/preloaders/en/horizontal/moving-car/ under free usage terms -->
      <img class="loading" src="../assets/loading.gif" alt="loading data" />
    </div>
    <b-card header="Your current rentals" v-if="rentals.length > 0" border-variant="info" align="center">
      <b-row>
        <b-col v-for="(car,index) in rentals" :key="index" cols="12" sm="6" md="4" lg="3">
          <b-card :title="car.name">
            <p class="card-text">
              {{ car.manufacturer }} {{ car.type }}<br />
              {{ car.kw }} kW, {{ car.seats }} seats<br />
            </p>
            <p>
              <!-- money icon under GPL by the Gnome Project: https://www.iconfinder.com/icons/22098/emblem_money_icon -->
              <img src="../assets/money.png"> {{ car.price }}<br />
            </p>
            <p align="center">
              <b-button @click="returnCar(car.id)">Return</b-button>
            </p>
            <p align="center">
              <b-badge variant="info">Return until: {{ car.availableOn }}</b-badge>
            </p>
          </b-card>
        </b-col>
      </b-row>
    </b-card>
    <p><b-button @click="getCars">Refresh the list of cars in the car park</b-button></p>
    <div v-if="cars !== null">
      <b-row v-if="availableCars.length > 0">
        <b-col v-for="(car,index) in availableCars" :key="index" cols="12" sm="6" md="4" lg="3">
          <b-card :title="car.name">
            <p class="card-text">
              Manufacturer: {{ car.manufacturer }}<br />
              Type: {{ car.type }}<br />
              kW: {{ car.kw }}<br />
              Seats: {{ car.seats }}<br />
            </p>
            <b-row>
              <b-col cols="6">
                <p align="center">
                  <!-- money icon under GPL by the Gnome Project: https://www.iconfinder.com/icons/22098/emblem_money_icon -->
                  <img src="../assets/money.png"> {{ Math.round(car.price * 100) / 100 }}<br />
                </p>
              </b-col>
              <b-col>
                <p align="center">
                  <!-- glone icon under GPL by the Gnome Project: https://www.iconfinder.com/icons/20852/internet_icon -->
                  <img src="../assets/map.png" @click="showMap(car.id)">
                </p>
              </b-col>
            </b-row>
            <p align="center">
              <b-button @click="rentCarPickDate(car.id)">Rent</b-button>
            </p>
          </b-card>
        </b-col>
      </b-row>
      <div v-if="unavailableCars.length > 0">
        <hr>
        <p>The following cars are currently not available:</p>
        <b-row>
          <b-col v-for="(car,index) in unavailableCars" :key="index" cols="12" sm="6" md="4" lg="3">
            <b-card :title="car.name" border-variant="warning">
              <p class="card-text">
                Manufacturer: {{ car.manufacturer }}<br />
                Type: {{ car.type }}<br />
                kW: {{ car.kw }}<br />
                Seats: {{ car.seats }}<br />
              </p>
              <p align="center">
                <!-- money icon under GPL by the Gnome Project: https://www.iconfinder.com/icons/22098/emblem_money_icon -->
                <img src="../assets/money.png"> {{ car.price }}<br />
              </p>
              <p align="center">
                <b-badge variant="warning">Available on: {{ car.availableOn }}</b-badge>
              </p>
            </b-card>
          </b-col>
        </b-row>
      </div>
    </div>
    <div v-else align="center">
      No cars available! Maybe an admin should fill up the car park?
    </div>

    <b-modal ref="modalRentCarPickDate" title="Pick a date for car return" size="lg" @ok="rentCar">
      <b-form-input v-model="returnDate" type="date"></b-form-input>
    </b-modal>

    <b-modal ref="modalMap" title="Location of the car" size="lg">
      <p align="center">
        <img id="modalMapImage" src="../assets/loading.gif">
      </p>
    </b-modal>

  </div>
</template>

<script>
import axios from 'axios'
import dateFunctions from '../mixins/dateFunctions'

/* function debugErrorResponse (data) {
  console.log('Response data provided to transformResponse:')
  console.log(data)
  return data
}
function debugRequest (data, headers) {
  // console.log('Request headers provided to transformRequest:')
  // console.log(headers)
  console.log('Request data provided to transformRequest:')
  console.log(JSON.stringify(data))
  return data
} */

export default {
  props: {
    user: { type: Object, required: true },
    rentalIDs: { type: Array, required: true }
  },
  mixins: [ dateFunctions ],
  data () {
    return {
      cars: null,
      loading: false,
      rentals: [],
      returnDate: '',
      rentID: null
    }
  },
  computed: {
    availableCars () {
      return this.cars.filter((car) => car.available === 'true')
    },
    unavailableCars () {
      return this.cars.filter((car) => car.available === 'false')
    }
  },
  methods: {
    showMap: function (id) {
      var car = this.getCarByID(id)
      var uri = 'http://maps.googleapis.com/maps/api/staticmap?'
      uri += '&key=' + process.env.GOOGLE_MAPS_API_KEY
      uri += '&zoom=16&size=640x640'
      uri += '&markers=color:purple|' + car.lat + ',' + car.lon
      document.getElementById('modalMapImage').src = uri
      this.$refs.modalMap.show()
    },
    getCarByID: function (id) {
      for (var i in this.cars) {
        if (this.cars[i].id === id) return this.cars[i]
      }
      return null
    },
    getRentalByID: function (id) {
      for (var i in this.rentals) {
        if (this.rentals[i].id === id) return this.rentals[i]
      }
      return null
    },
    returnCar: function (id) {
      console.log('Returning car with ID ' + id)
      var car = this.getRentalByID(id)
      if (car === null) {
        alert('Strange! We could not find the car with ID ' + id + ' in the list of your current rentals.')
        return
      }
      this.loading = true
      var uri = process.env.RENTAL_API + 'car/' + id + '/return'
      // TODO: here we just choose the same return location as the car was rented from
      //       this is for the sake of a proof of concept, in a productive version
      //       there should be a nice location picker modal to choose the return location
      var returnDetails = {
        returnLon: car.lon,
        returnLat: car.lat
      }
      console.log(returnDetails)
      axios.post(uri, returnDetails, {
        headers: { 'Authorization': 'Bearer ' + this.user.token }
      }).then(response => {
        this.loading = false
        console.log(response.data)
        if (response.data.success === true) {
          this.$parent.removeRental(id)
          this.updateRentals()
          this.getCars()
        } else {
          // TODO: nice error handling
          alert('There was an error returning this car.\nSee console output for more details.')
        }
      }).catch(error => {
        this.loading = false
        console.log(error)
        alert('Sorry, your car could not be returned.\n' +
          'See the console for a more detailed error message.')
      })
    },
    rentCarPickDate: function (id) {
      this.rentID = id
      this.$refs.modalRentCarPickDate.show()
    },
    rentCar: function () {
      if (this.returnDate === '') {
        alert('You have to choose a date to rent a car!')
        return
      }
      console.log('Renting car with ID ' + this.rentID)
      this.loading = true
      var uri = process.env.RENTAL_API + 'car/' + this.rentID + '/rent'
      var rentalDetails = {
        return: this.apiDate(this.returnDate)
      }
      axios.post(uri, rentalDetails, {
        headers: { 'Authorization': 'Bearer ' + this.user.token }
      }).then(response => {
        this.loading = false
        console.log(response.data)
        if (response.data.success === true) {
          this.$parent.rentalIDs.push(this.rentID)
          this.updateRentals()
          this.getCars()
        } else {
          // TODO: nice error handling
          alert('There was an error renting this car.\nSee console output for more details.')
        }
      }).catch(error => {
        this.loading = false
        console.log(error)
        alert('Sorry, your car could not be rented.\n' +
          'See the console for a more detailed error message.')
      })
    },
    updateRentals: function () {
      this.rentals = []
      for (var i in this.$parent.rentalIDs) {
        // console.log('Fetching car details for ID ' + this.$parent.rentalIDs[i])
        var uri = process.env.RENTAL_API + 'car/' + this.$parent.rentalIDs[i]
        if (this.$parent.currency !== process.env.STD_CURRENCY) {
          uri += '?currency=' + this.$parent.currency
        }
        axios.get(uri).then(response => {
          this.loading = false
          if (response.data.success === true) {
            this.rentals.push(response.data.result)
          } else {
            // TODO: nice error handling
            alert('fetching rental worked but success is false')
            console.log(response.data)
          }
        }).catch(error => {
          this.loading = false
          console.log(error)
          alert('Sorry, there was an error while fetching rental #' + i + '.\n' +
            'See the console for a more detailed error message.')
        })
      }
    },
    getCars: function (event) {
      this.loading = true
      var uri = process.env.RENTAL_API + 'car'
      if (this.$parent.currency !== process.env.STD_CURRENCY) {
        uri += '?currency=' + this.$parent.currency
      }
      axios.get(uri).then(response => {
        this.loading = false
        if (response.data.success === true) {
          this.cars = response.data.result
        } else {
          // TODO: nice error handling
          alert('fetching cars worked but success is false')
          console.log(response.data)
        }
      }).catch(error => {
        this.loading = false
        console.log(error)
        alert('Sorry, there was an error while fetching available cars.\n' +
          'See the console for a more detailed error message.')
      })
    }
  },
  created () {
    this.getCars()
    if (this.$parent.rentalIDs.length > 0) {
      this.updateRentals()
    }
  }
}
</script>

<style scoped>
img.loading {
  border: 1px solid black;
}

div.card {
  margin-bottom: 1.5em;
}

img#modalMapImage {
  width: 640px;
  height: auto;
  max-width: 100%;
}
</style>
