<template>
  <div>
    <!-- primary, success, info, warning, danger, dark, or light. -->
    <!-- to bin sticky to a property that is always true is just a workaround
         otherwise vue would give a console warning "type check failed for prop"
         because sticky="true" would be interpreted as String not Boolean -->
    <b-navbar :sticky="headerSticky" toggleable="md" type="dark" variant="dark">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-navbar-brand href="#">The Daring Dashboard</b-navbar-brand>

      <b-collapse is-nav id="nav_collapse">

        <!-- Left aligned nav items -->
        <b-navbar-nav>
          <b-nav-text>&#9733; car rental made easy &#9733;</b-nav-text>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">

          <b-nav-item-dropdown :text="currency" right>
            <b-dropdown-item href="#" @click="currency = 'EUR'">EUR</b-dropdown-item>
            <b-dropdown-item href="#" @click="currency = 'USD'">USD</b-dropdown-item>
            <b-dropdown-item href="#" @click="currency = 'CNY'">CNY</b-dropdown-item>
            <b-dropdown-divider></b-dropdown-divider>
            <b-dropdown-item href="#" @click="currency = 'AUD'">AUD</b-dropdown-item>
            <!--<b-dropdown-item href="#" @click="currency = 'BGN'">BGN</b-dropdown-item>-->
            <b-dropdown-item href="#" @click="currency = 'BRL'">BRL</b-dropdown-item>
            <!--<b-dropdown-item href="#" @click="currency = 'CAD'">CAD</b-dropdown-item>-->
            <b-dropdown-item href="#" @click="currency = 'CHF'">CHF</b-dropdown-item>
            <b-dropdown-item href="#" @click="currency = 'CZK'">CZK</b-dropdown-item>
            <b-dropdown-item href="#" @click="currency = 'DKK'">DKK</b-dropdown-item>
            <b-dropdown-item href="#" @click="currency = 'GBP'">GBP</b-dropdown-item>
            <!--<b-dropdown-item href="#" @click="currency = 'HKD'">HKD</b-dropdown-item>-->
            <b-dropdown-item href="#" @click="currency = 'HRK'">HRK</b-dropdown-item>
            <b-dropdown-item href="#" @click="currency = 'HUF'">HUF</b-dropdown-item>
            <!--<b-dropdown-item href="#" @click="currency = 'IDR'">IDR</b-dropdown-item>-->
            <b-dropdown-item href="#" @click="currency = 'ILS'">ILS</b-dropdown-item>
            <!--<b-dropdown-item href="#" @click="currency = 'INR'">INR</b-dropdown-item>-->
            <!--<b-dropdown-item href="#" @click="currency = 'ISK'">ISK</b-dropdown-item>-->
            <b-dropdown-item href="#" @click="currency = 'JPY'">JPY</b-dropdown-item>
            <!--<b-dropdown-item href="#" @click="currency = 'KRW'">KRW</b-dropdown-item>-->
            <b-dropdown-item href="#" @click="currency = 'MXN'">MXN</b-dropdown-item>
            <!--<b-dropdown-item href="#" @click="currency = 'MYR'">MYR</b-dropdown-item>-->
            <b-dropdown-item href="#" @click="currency = 'NOK'">NOK</b-dropdown-item>
            <!--<b-dropdown-item href="#" @click="currency = 'NZD'">NZD</b-dropdown-item>-->
            <b-dropdown-item href="#" @click="currency = 'PHP'">PHP</b-dropdown-item>
            <b-dropdown-item href="#" @click="currency = 'PLN'">PLN</b-dropdown-item>
            <!--<b-dropdown-item href="#" @click="currency = 'RON'">RON</b-dropdown-item>-->
            <b-dropdown-item href="#" @click="currency = 'RUB'">RUB</b-dropdown-item>
            <b-dropdown-item href="#" @click="currency = 'SEK'">SEK</b-dropdown-item>
            <!--<b-dropdown-item href="#" @click="currency = 'SGD'">SGD</b-dropdown-item>-->
            <!--<b-dropdown-item href="#" @click="currency = 'THB'">THB</b-dropdown-item>-->
            <!--<b-dropdown-item href="#" @click="currency = 'TRY'">TRY</b-dropdown-item>-->
            <!--<b-dropdown-item href="#" @click="currency = 'ZAR'">ZAR</b-dropdown-item>-->
          </b-nav-item-dropdown>

          <b-nav-item-dropdown right>
            <!-- Using button-content slot -->
            <template slot="button-content">
              <span v-if="user.logged_in"><em>{{ user.name }}</em></span>
              <span v-else>You are not logged in</span>
            </template>
            <b-dropdown-item v-if="user.logged_in" href="#">Signout</b-dropdown-item>
            <b-dropdown-item v-else href="#"  @click="$refs.appModalLogin.showLogin()">Log in</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>

      </b-collapse>
    </b-navbar>

    <b-container>
      <p>&nbsp;</p>
      <b-jumbotron header="The Daring Dashboard">
        <template slot="lead">&#9733; car rental made easy &#9733;</template>
        <hr class="my-4">
        <p v-if="!user.logged_in">
          Welcome to <em>The Daring Dashboard's</em> awesomely simple car rental service.
        </p>
        <p v-if="!user.logged_in">
          Give it a nudge and head over to the login. In no time you'll be sitting
          in one of our awesomly customizable vehicles - from super manual over
          steady automatic to fully autonomous. You decide, the car will ride!
        </p>
        <p v-if="!user.logged_in">
          <b-button @click="$refs.appModalLogin.showLogin()">Log in</b-button>
        </p>
        <p v-else>
          Choose your cars and fetch a ride!
        </p>
      </b-jumbotron>
    </b-container>

    <b-container v-if="user.logged_in">
      <app-car-viewer ref="appCarViewer" :user="user" :rentalIDs="rentalIDs"></app-car-viewer>
    </b-container>

    <b-container v-if="user.name == 'jackie'" class="dashboard-admin">
      <hr />
      <p><b-button class="m-1" @click="user.adminScreen = !user.adminScreen">Toggle Admin Dashboard</b-button></p>
      <div v-if="user.adminScreen">
        <app-car-park :user="user"></app-car-park>
      </div>
    </b-container>

    <app-login ref="appModalLogin"></app-login>

    <b-navbar fixed="bottom" type="light" variant="light">
      <p><small><span class="copyleft">&copy;</span> 2018, The Daring Dashboard Collective, FH Technikum Wien, Höchstädtplatz 6, 1200 Wien</small></p>
    </b-navbar>
  </div>
</template>

<script>
import carviewer from './CarViewer'
import carpark from './CarPark'
import login from './Login'

export default {
  name: 'Dashboard',
  components: {
    'app-car-viewer': carviewer,
    'app-car-park': carpark,
    'app-login': login
  },
  data () {
    return {
      headerSticky: true,
      user: {
        name: '',
        logged_in: false,
        adminScreen: false
      },
      rentalIDs: [],
      currency: process.env.STD_CURRENCY
    }
  },
  methods: {
    login: function () {
      alert('logging in')
    },
    refresh: function () {
      this.$refs.appCarViewer.getCars()
      this.$refs.appCarViewer.updateRentals()
    },
    removeRental: function (id) {
      if (this.rentalIDs.length > 0) {
        var i = this.rentalIDs.indexOf(id)
        if (i !== -1) {
          this.rentalIDs.splice(i, 1)
        }
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
img.loading {
  border: 1px solid black;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

div.dashboard-admin {
  margin-bottom: 60px;
}

div#app nav {
  justify-content: center;
}
</style>
