<template>
  <div>
    <b-modal ref="modalLogin" title="Log in" size="lg" @ok="sendLogin">
      <p><b-form-input v-model="login.user" type="text" placeholder="Enter your username"></b-form-input></p>
      <p><b-form-input v-model="login.password" type="password" placeholder="Enter your password"></b-form-input></p>
      <b-alert :show="loginDenied" variant="danger">Wrong user credentials!</b-alert>
      <div v-if="loading" align="center">
        <!-- loading gif from https://icons8.com/preloaders/en/horizontal/moving-car/ under free usage terms -->
        <img class="loading" src="../assets/loading.gif" alt="loading data" />
      </div>
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios'

/* function debugErrorResponse (data) {
  console.log('Response data provided to transformResponse:')
  console.log(data)
  return data
} */

export default {
  data () {
    return {
      login: {
        user: '',
        password: ''
      },
      loginDenied: false,
      loading: false
    }
  },
  methods: {
    showLogin: function () {
      this.$refs.modalLogin.show()
      this.loginDenied = false
      this.loading = false
    },
    sendLogin: function (event) {
      event.preventDefault()
      if (this.login.user === '' || this.login.password === '') {
        alert('Please provide a username and a password!')
      } else {
        this.loading = true
        var uri = process.env.RENTAL_API + 'login'
        axios.post(uri, this.login).then(response => {
          this.loading = false
          this.$parent.user.logged_in = true
          this.$parent.user.name = this.login.user
          this.$parent.user.token = response.data.token
          this.$refs.modalLogin.hide()
        }).catch(error => {
          this.loading = false
          console.log(error)
          if (error.response.status === 401) {
            this.loginDenied = true
          } else {
            alert('Sorry, there was some unpredicted error when authenticting.\n' +
              'See the console for a more detailed error message.')
          }
        })
      }
    }
  }
}
</script>

<style scoped>
img.loading {
  border: 1px solid black;
}
</style>
